<!-- Menu de administração -->
{{#if user.admin}}
    <ul class="flex flex-row gap-6 justify-center">
        <li>
            <a href="/setup" class="text-[#2A3DA4]  hover:text-gray-300 hover:bg-[#2A3DA4]">Setup</a>
        </li>
        <li>
            <a href="/users" class="text-[#2A3DA4]  hover:text-gray-300 hover:bg-[#2A3DA4]">Usuários</a>
        </li>
        <li>
            <a href="/city" class="text-[#2A3DA4]  hover:text-gray-300 hover:bg-[#2A3DA4]">Cidades</a>
        </li>
        <li>
            <a href="/component" class="text-[#2A3DA4]  hover:text-gray-300 hover:bg-[#2A3DA4]">Componentes</a>
        </li>
        <li>
            <a href="/computer" class="text-[#2A3DA4]  hover:text-gray-300 hover:bg-[#2A3DA4]">Computadores</a>
        </li>
        <li>
            <a href="/peripheral" class="text-[#2A3DA4]  hover:text-gray-300 hover:bg-[#2A3DA4]">Perifericos</a>
        </li>
    </ul>
{{/if}}