<!-- Botão para abrir o offcanvas -->
<div class="flex flex-row items-center gap-8">
    <button id="openCanvas" class="text-white focus:outline-none">
        <!-- -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu w-8 h-10">
            <line x1="4" x2="20" y1="12" y2="12" />
            <line x1="4" x2="20" y1="6" y2="6" />
            <line x1="4" x2="20" y1="18" y2="18" />
        </svg>
    </button>
    <a href="home">
        <img src="/public/images/titlePage.png" class="w-full p-0 m-0" />
    </a>
</div>
<div class="w-full text-[#2A3DA4] flex justify-center">
    <div class="relative flex flex-row items-center w-[480px] max-[1000px]:w-full">
        <input class="rounded h-8 pl-6 pr-8 text-xs w-full" type="search" value="" />
        <!-- icon pesquisa -->
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-search absolute right-2 shadow-black shadow-xl">
            <circle cx="11" cy="11" r="8" />
            <path d="m21 21-4.3-4.3" />
        </svg>
    </div>
    <!-- icon favorite-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-heart self-center w-8 h-8 ml-3 hover:stroke-[#F9531F] hover:fill-[#F9531F]">
        <path
            d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z" />
    </svg>
</div>
<div class="flex flex-row justify-center gap-5 text-white">
    <!--icon carrinho/Shop -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart w-8">
        <circle cx="8" cy="21" r="1" />
        <circle cx="19" cy="21" r="1" />
        <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12" />
    </svg>
    <!-- icon user -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" stroke="#ffffff" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-user-round w-10 border-2 border-white rounded-full p-1">
        <circle cx="12" cy="8" r="5" />
        <path d="M20 21a8 8 0 0 0-16 0" />
    </svg>
</div>