{{#> main}}
{{#*inline "content"}}
<div class="w-full h-screen flex flex-col justify-start items-center mt-28">
  <h2 class="text-2xl font-bold mb-4">CADASTRO DE PERIFÉRICOS</h2>
  <form class="grid grid-cols-1 gap-4">
    <div>
      <label for="especificacao" class="block text-sm font-medium text-gray-700">Especificação</label>
      <input type="text" id="especificacao" name="especificacao"
        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
    </div>
    <div>
      <label for="link" class="block text-sm font-medium text-gray-700">Link (URL)</label>
      <input type="url" id="link" name="link"
        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        required />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label for="nome" class="block text-sm font-medium text-gray-700">Nome*</label>
        <input type="text" id="nome" name="nome"
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          required />
      </div>
      <div>
        <label for="quantidade" class="block text-sm font-medium text-gray-700">Quantidade*</label>
        <input type="number" id="quantidade" name="quantidade"
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          required />
      </div>
    </div>
    <div>
      <label for="valor" class="block text-sm font-medium text-gray-700">Valor Unid.*</label>
      <input type="text" id="valor" name="valor"
        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        required placeholder="R$" />
    </div>
    <button type="submit"
      class="mt-4 bg-[#2A3DA4] text-white font-bold p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
      CADASTRAR
    </button>
    <div class="m-2">
      <a href="/perifericos" class="text-red-700 font-extrabold text-sm hover:underline">Cancelar</a>
    </div>
  </form>
</div>
</div>
{{/inline}}
{{/main}}