{{#> main}}
{{#*inline "content"}}
<div class="h-full w-full flex flex-col justify-start items-center mt-28">
  <p class="font-bold text-2xl text-[#2A3DA4] self-start p-5 ml-[20%]">
    SOBRE A LR INFORMÁTICA
  </p>
  <p class="font-medium text-lg text-pretty w-3/4 text-justify">
    Nós entendemos que cada gamer busca a performance máxima em seus jogos, e
    acreditamos que um setup perfeito é a chave para alcançar esse objetivo. Foi
    por isso que criamos a LR INFORMÁTICA para oferecer a você uma experiência
    de jogo imersiva e poderosa, com setups completos projetados para maximizar
    sua performance. Na LR INFORMÁTICA, nosso foco é simples: entregar setups
    completos e de alta qualidade para gamers que não aceitam nada menos que o
    melhor. Cada produto que oferecemos é meticulosamente montado, testado e
    configurado para garantir que você tenha a melhor experiência desde o
    momento em que liga seu novo equipamento. Nós não vendemos peças soltas.
    Sabemos que montar um setup do zero pode ser complicado, e nosso objetivo é
    simplificar esse processo para você.
    <br />
    Oferecemos pacotes completos que incluem tudo o que você precisa: desde o PC
    gamer de alta performance até os periféricos essenciais, como monitores,
    teclados, mouses e cadeiras ergonômicas. Nós nos dedicamos a oferecer setups
    que atendam às necessidades de todos os perfis de gamers, desde os casuais
    até os profissionais. Trabalhamos com marcas renomadas e componentes de
    última geração para garantir que você tenha a potência e a confiabilidade
    que merece. Mais do que vender setups, nossa missão é ajudar você a elevar
    seu nível de jogo. Com suporte especializado e assistência personalizada,
    estamos aqui para garantir que seu novo equipamento esteja pronto para
    vencer qualquer desafio.
  </p>
  <ul
    class="p-5 list-image-[url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZWNrLWNoZWNrIj48cGF0aCBkPSJNMTggNiA3IDE3bC01LTUiLz48cGF0aCBkPSJtMjIgMTAtNy41IDcuNUwxMyAxNiIvPjwvc3ZnPg==)]"
  >
    <li class="text-wrap text-justify font-medium">
      <p class="font-bold">Setups Completos:</p>
      Escolha entre uma variedade de configurações pré-definidas ou personalize
      seu setup completo com a ajuda de nossos especialistas.
    </li>
    <li class="text-wrap text-justify font-medium">
      <p class="font-bold">Qualidade Garantida:</p>
      Testamos cada componente antes de enviar para você, garantindo que tudo
      funcione perfeitamente ao sair da caixa.
    </li>
    <li class="text-wrap text-justify font-medium">
      <p class="font-bold">Experiência Gamer:</p>
      Todos os nossos setups são desenvolvidos com o jogador em mente,
      otimizados para oferecer a melhor experiência possível.
    </li>
    <li class="text-wrap text-justify font-medium">
      <p class="font-bold">Suporte Especializado:</p>
      Nossa equipe de atendimento está sempre disponível para ajudar com dúvidas
      e garantir que seu setup esteja funcionando como deve.
    </li>
  </ul>
  <div
    class="flex flex-col w-1/2 justify-center items-center m-5 p-5 bg-gray-200 rounded-lg"
  >
    <p class="font-bold text-wrap p-2">
      Quer saber mais sobre como podemos ajudar a elevar seu jogo?
    </p>
    <p class="font-medium text-wrap p-2">
      Entre em contato conosco, e ficaremos felizes em montar o setup dos seus
      sonhos.
    </p>
    <button
      class="w-4/6 h-12 bg-[#2A3DA4] text-white rounded-md hover:bg-transparent hover:border-[#2A3DA4] hover:border-4 hover:text-[#2A3DA4] hover:font-bold"
    >
      ENTRAR EM CONTATO
    </button>
  </div>
</div>
{{/inline}}
{{/main}}
